*{padding: 0; margin: 0; box-sizing: border-box; list-style: none;}
a{
    text-decoration: none;
    text-transform: capitalize;
}
.font1{
    font-family: ram;
}
.font2{
    font-family: bs;
}
.font3{
    font-family: rv;
}


/* @font-face {
    font-family: ram;
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: bs;
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: bd;
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: rv;
    src: url(../fonts/Poppins-Medium.ttf);} */


 @font-face {
    font-family: ram;
    src: url(../fonts/CollegiateInsideFLF.ttf);
}
@font-face {
    font-family: bs;
    src: url(../fonts/CollegiateFLF.ttf);
}
@font-face {
    font-family: bd;
    src: url(../fonts/CollegiateBlackFLF.ttf);
}
@font-face {
    font-family: rv;
    src: url(../fonts/Royal\ Avenue\ Demo.otf);
} 

/* ======================================================================================= */
@media(max-width:425px){
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
        display: block;  
    }
    .navbar-toggler{
        margin-left: 70px;
    }
}
/* ====================================================================================== */

.navbar{
    padding: 00;
}
.navbar-collapse{
    flex-grow: 0;
}
.navbar-collapse {
    margin-top: 10px;
}
.nav-item{
  margin: 4px 10px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color:#a8a4a4;
    padding: 5px 15px;
    text-transform: capitalize;
    border-radius: 10px;
   
}
.navbar-nav .nav-link.active{
    color: #742933;
    background-color: #eee;
    padding: 5px 15px;
    border-radius: 10px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    background-color: #ddd;
    color: #742933;
    border-radius: 10px;
}
/* ===========================[hero-section] ==================================== */
.hero_area{
    background-image: url(../images/blog-hero.jpg);
    background-repeat: no-repeat;
border-bottom-width: 0px;
padding-top: 136px;
padding-bottom: 131px;
background-size: cover;
}
.bg-overlay-black-4{
    position: relative;
}
.bg-overlay-black-4::before{
    
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background: rgba(13, 89, 102, 0.6);
content: "";
border-radius: 5px;
}
.hero_title{
color: #000;
font-family: 'Libre Bodoni', serif;
font-weight: 400;
font-size: 36px;
font-family: ram;
}
.hero_title:hover{
    -webkit-text-stroke: 1.5px rgb(157, 6, 6);
    color: transparent;
   
}

.hero_list{
margin-top: 15px;
}
.hero_item{
display: inline-block;
font-size: 14px;
font-weight: 500;
letter-spacing: 2px;
line-height: 1.58;
text-transform: uppercase;
color: #fff;

}
.ol, ul {
padding-left: 0px;
}
.hero_list a{
position: relative;
color: #fff;
text-decoration: none;
font-size: 16px;
font-family: ram;
}
.hero_list a:hover{
color: #f2b263;
text-decoration: underline;
transition: 0.5s;

}
.hero_item {
color: #fff;
font-size: 16px; 
font-family: rm;
}
.hero_item a::after{
content: "";
width: 0;
height: 1px;
bottom: 0;
position: absolute;
left: auto;
right: 0;
z-index: -1;
}
.hero_item::before{
display: inline-block;
padding-right: 0.5rem;
color: #fff;
content: "/";
}
/* ===========================================[BLOG-SECTION]===================================== */
.blog-page{
    border: solid 1px #ccc;
}
.blog-page-img img{
    display: block;
}
.page-icon i{
    font-size: 60px;
    color: rgb(240, 240, 240);
}
.blog-page-taxt h4 a{
    color: #000;
}
.blog-page-taxt h4 a:hover{
    color: #942e3b;
}
.bx-1 a img:hover{
    opacity: 0.8;
}
.page-ads{
    background-color: #edf6ff;
    padding: 5px 15px;
    border-radius: 10px;
    border: solid 1px #ddd;
    
}





/* ========[blog-right]======== */
.serc-frm{
    position: relative;
}

.srch-box{
    background-color: #fff;
    padding: 20px;
    border: solid 1px #ddd;
    border-radius: 5px;
}
.srch-btn{
    font-size: 16px;
    width: 43px;
    letter-spacing: 0px;
    background: #eee;
    border: none;
    position: absolute;
    top: 4px;
    right: 3px;
    height: 43px;
    display: inline-block;
    
}
.seach-inpt{
    width: 100%;
    color: #742933;
    background: #eee;
    padding: 12px 40px 12px 12px;
    font-size: 16px;
    height: 50px;
    border: solid 1px #eee;
    border-radius: 5px;
   
    display: block;
}

.ctg-item li{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    color:#000;
}
.ctg-item button:hover {color: #742933;
font-weight: 500;}

.ctg-item li a{
    color:#000;
}
.categori{
    background: #fff;
    border: solid 1px #ddd;
    margin-top: 25px;
    border-radius: 5px;
}
.ctg-item .python{
    border: none;
  
}

.postbox{
    display: grid;
    grid-template-columns: 1fr 2.2fr;
    grid-gap: 15px;
   
    align-items: center;
}
.left-box img{
    width:100%;
    height: auto;
    border-radius: 5px;
}
.right-box h4 a{
    font-size: 12px;
    color: #000;
}
.right-box h4 a:hover{
    color: #742933;
}
.right-box h4{
    margin-bottom: 0;
}
.right-box span{
    font-size: 12px;
}
.recent-post{
    background: #fff;
    border: solid 1px #ddd;
    margin-top: 25px;
    border-radius: 5px; 
}
/* ============================== */
.gallery-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
 
}
.gallery-box img{
    width: 100%;
    display: block;
    border-radius: 5px;
    
}
.gallery-box img:hover{
    opacity: 0.8;
   
}

.gallery{
    background: #fff;
    border: solid 1px #ddd;
    margin-top: 25px;
    border-radius: 5px; 
}
/* ======================================================================= */
.meta{
    background: #fff;
    border: solid 1px #ddd;
    margin-top: 25px;
    border-radius: 5px;
}
.meta .meta-lst li {
    display: inline-block;
}
.meta .meta-lst li a{
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 16px;
    display: inline-block;
    margin-top: 10px;
    color: #000;
    border: 1px solid #ddd;

}
.meta .meta-lst li a:hover{
    background-color: #2feaff;
    color: #000;
    transition: 0.5s;
}
/* ==================================================================== */
.ads-img img{
    display: block;
    width: 100%;
    border-radius: 5px;
}
.ads{
    background: #fff;
    border: solid 1px #ddd;
    margin-top: 25px;
    border-radius: 5px;
}
 /* ====================================[FOOTER-section]======================================== */
 #footer{
    background: #060e1f;
    padding:50px 10px;
   
 }
 #footer a:hover{
    color: #fff;
    transition: 0.5s;
 }

.footer-box h6{
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
}
.footer-box ul li a{
    font-size: 12px;
    line-height: 24px;
    color: #cecece;
    margin: 0 0 10px 0;
    display: block;
}
.footer-box ul li a span i{
    color: #fff;
}

.colum1 span i{
    font-size: 18px;
    color: #fff;
    vertical-align: middle;
    margin-right: 10px;
    width: 25px;
    text-align: center;
}
.colum1 a{
    text-decoration: none;
    color: #cecece;
    line-height: 25px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}
.colum2{
    margin-top: 10px;
    padding: 10px 0;
}
.colum2 span i{
    font-size: 18px;
    color: #fff;
    vertical-align: middle;
    margin-right: 10px;
    width: 25px;
    text-align: center;
}
.colum2 a{
    text-decoration: none;
    color: #cecece;
    line-height: 25px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}

.peraa span i{
    font-size: 18px;
    color: #fff;
    vertical-align: middle;
    margin-right: 10px;
    width: 25px;
    text-align: center;
}
.peraa a{
    text-decoration: none;
    color: #cecece;
    line-height: 25px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}

.footer-box p{
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
}
.footer-socia{
    margin-top: 15px;
}
.footer-socia ul li{
    display: inline-block;
    margin-right: 5px;
}
.footer-socia ul li a{
    color: #fff;
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.06);
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 50%;
    text-align: center;
}
.footer-socia ul li a:hover{
    color: #ccc;
    border: 1px solid #ccc;
   transition: 0.8s;
}
.footer-socia ul li a span i{
    font-size: 15px;
    line-height: 35px;
}